<%- include('../includes/head.ejs') %> 
</head>
<body>
    <%- include('../includes/navigation') %>
    <h1 class="main-title"><%= content %> </h1> 
    <h2><%= product.title %> </h2>
    <p><%= product.description %> </p>
    <p>$<%= product.price %> </p>
<%- include('../includes/end.ejs') %> 